* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #345a81;
}

#map {
    height: 95%;
    width: 100%;
    position: relative;
    margin-top: 50px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #345a81;
    padding: 10px;
    z-index: 1000;
}

#header button {
    padding: 10px 10px;
    font-size: 1rem;
    border: none;
    background-color: #98c0d9;
    color: rgb(2, 13, 62);
    border-radius: 5px;
    cursor: pointer;
    max-width: 400px;
    width: 90%;
    margin: 0 5px;
}

#header button i {
    margin-right: 5px;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    #header {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 15px;
        height: auto;
    }

    .hamburger {
        display: block;
        font-size: 1.5rem;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        padding: 10px;
        width: 90%;
        max-width: 400px;
        margin-bottom: 10px;
    }

    #header button:not(.hamburger) {
        display: none;
        margin-bottom: 10px;
    }

    #header.menu-visible .hamburger {
        margin-bottom: 20px;
    }

    #header.menu-visible button {
        display: block;
        width: 90%;
        max-width: 400px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 769px) {
    .hamburger {
        display: none !important; 
    }

    #header button {
        display: inline-block;
        margin: 0 10px;
    }
}
