* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
}




#panelID {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.sidepanel-visible {
  opacity: 1 !important;
  pointer-events: auto !important;
}
